.headerTitle h1{
    color: rgb(0, 255, 42);
    font-family: monospace;
    text-align: center;
}

.stopWatchDiv{
    border: 2px solid rgb(84, 47, 121);
    background-color: black;
    width: 50%;
    height: 50%;
}

.buttonsDiv{
    display: flex;
    justify-content: space-evenly;
}

.textBtn{
    color: white;
    background-color: black;
    border-radius: 50%;
    margin-right: 5%;
    height: 5%;
    width: 4%;
    padding: 3%;
    border: 1px solid gray;
}
.displayTimerDiv{
    color: white;
    text-align: center;
    margin-bottom: 5%;
    font-size: 55px;
}