.headerTitle h1 {
    color: rgb(0, 255, 42);
    font-family: monospace;
    text-align: center;
}

.stopWatchDiv {
    background-color: black;
    width: 600px;
    height: 600px;
}

.buttonsDiv {
    display: flex;
    justify-content: space-evenly;
}

.textBtn {
    color: white;
    font-size: 25px;
    background-color: black;
    margin-right: 5%;
    border: 1px solid gray;
}

#displayTimerDiv {
    color: white;
    text-align: center;
    margin-bottom: 5%;
    font-size: 25px;
}

button:hover {
    cursor: pointer;
    background-color: green;
}

#displayLapDiv {
    color: white;
    width: 100%;
    margin-top: 4%;
    text-align: center;
    font-size: 15px;

}

.laps {
    color: white;
    list-style: none;
    font-size: 15px;
    width: 100%;
    margin-top: 5%;
    overflow-y: auto;
    position: relative;
    height: 250px;
}

.lap-item {
    width: 250px;
    text-align: center;
    display: inline-block;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 50px;
    margin: 4px;
}

.number {
    color: white;
}

.timeStamp {
    display: inline-block;
    margin-left: 25px;

}